body {
	background-color: #444444;	
}

h2, h3, h4 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

div#wrap {
	background-color: #FFFFFF;
    border: 10px solid #440000;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#hof table, #hof th, #hof td {
    border-color: black;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-collapse: collapse;
    margin: 0 0 0 0;
}

#hof th {
    background-color: #CCCCCC;
    border-width: 1px 1px 2px 2px;
    padding: 6px;
}

#hof td {
    border-width: 1px 1px 0 0;
    padding: 6px;
}

div#game {
    border-left: 7px solid #CCEEDF;
    border-top: 7px solid #CCEEDF;
    border-right: 7px solid #5599CC;
    border-bottom: 7px solid #5599CC;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

div#pathname {
    text-align:center;
    padding-bottom: 5px;
}

div#trail {
    padding-bottom: 30px;
}

#trail table {
    border: 0;
}

#trail td, #player td, #fire td {
    border: 0;
}

#trail td, #player td, #fire td {
    height: 30px;
    width: 30px;
}

td#player {
    background-color: #FFFFFF;
    background-image: url(images/player.png);
}

td#fire {
    background-color: #FFFFFF;
    background-image: url(images/flames.gif);
}

div#chips {
    padding-bottom: 30px;
}

#chips table, #chips tr, #chips td {
    border: 2px solid #444444;
    border-collapse: collapse;
    margin: 0;
    padding: 0;

    font: bold 40px Arial;
    text-align: center;
}

#chips tr {
    height: 100px;
}

#chips td {
    width: 100px;
}

#chips input {
    font: bold 24px Arial;
    width:180px;
    height:50px;
    cursor: hand;
}

div#scam {
    color: #FF0000;
    font: bold 24px Arial;
    padding-top: 20px;
    padding-bottom: 20px;
}

div#warning {
    color: #FF0000;
    font: bold 14px Arial;
    height: 50px;
}
